*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section-1-header{
    display: flex;
    background-color: #0f0f0f;
    margin:0 auto;
    max-width: 800px;
    color:white;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.section-1-header .right{
    display: flex;
    justify-content: space-between;
}

.section-1-header .right .ri{
    margin-left:22px;
}

.section-1-main{
    margin-top: 25px;
    margin-left:110px;
}